@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import "_variables.scss";

/* common */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins";
}

a {
    text-decoration: none;
}

body {
    background-size: cover;
}

ul {
    list-style: none;
}

/* Container common */
.container {
    padding-top: 30px;
    height: 100vh;
    backdrop-filter: brightness(50%);
    color: #fff;
}

/* Search Bar */
.container--form {
    border-radius: 50px;
    margin: 0px auto  ;
    padding-left: 30px;
    padding-right: 100px;
    position: relative;
    width: 500px;
    background-color: #fff;
}

.container--input {
    font-size: 1.2rem;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;

    &::placeholder {
        opacity: 50%;
        color: black;
    }

    &:-webkit-autofill {
        box-shadow: 0 0 0 1000px white inset; 
    }

    &::-webkit-calendar-picker-indicator {
        display: none !important;
    }
}

.container--button {
    position: absolute;
    top: 0px;
    left: 415px;
    height: 40px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: $background-color;
    width: 86px;
    transition: 0.2s;

    &:hover {
        background-color: $background-color-hover;
        cursor: pointer;
    }

    &:active {
        background-color: $background-color-active;
    }
}

.fa-search {
    font-size: 1.4rem;
    font-family: "Font Awesome 5 Free";
    color: $fa-search;
}

/* Container box */
.container--box {
    margin: 0 50px;
}

/* Container box current */
.container--box__current {
    display: flex;
    width: 100%;
    
    &__left {
        text-align: center;
        width: 50%;

    }

    &__right {
        align-content: flex-start;
        text-align: center;
        width: 50%;
    }

}

.container--city-name {
    font-size: 4.0rem;
    flex-wrap: wrap;
}

.container--today-date {
    font-size: 2.0rem;
    font-weight: 300;
}

.container--img__today {
    width: 200px;
}

.container--temperature {
    
    &__today {
        font-size: 10rem;
        font-weight: 300;
    }

    &__max {
        color: $max-temp-color;
        font-size: 4.0rem;
        font-weight: 300;
    }

    &__slash {
        font-size: 3.0rem;
        font-weight: 300;
    }

    &__min {
        color: $min-temp-color;
        font-size: 4.0rem;
        font-weight: 300;
    }
}

/* Container box forecast*/
.container--box__forecast__bar {
    margin-bottom: 20px;

    & nav {
        border-bottom: solid 4px $underbar-color;
        width: 100%;

    }

    & ul {
        padding: 0px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        font-size: 1.3rem;

    }
}

.container--nav-item {
    padding: 0 20px;
    transition: 1s;

    &.inactive {

        & a {
            font-size: 1.5rem;
            color: $nav-color;

            &:hover {
                color: #fff;
            }
        }
    }
    
    &.active {
        margin-bottom: 4px;

        & a {
            font-size: 1.5rem;
            color: #fff;
            border-bottom: solid 4px #fff;
            cursor: default;
        }
    }
}

/* hourly forecast */
.container--box__hourly {
    display: flex;
    justify-content: space-between;
}

.container--item__hourly {
    text-align: center;
}

.container--time__hourly {
    font-size: 1.5rem;
}

.container--temperature__hourly {
    font-size: 1.5rem;
}

/* daily forecast */
.container--box__daily {
    display: flex;
    justify-content: space-between;
}

.container--item__daily {
    text-align: center;
}

.container--time__daily {
    font-size: 1.5rem;
}

.container--temperature__daily {
    font-size: 1.5rem;
}

/* Container copyright*/
.container--copyright {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 5px;
    color: $copyright;
}