$min-temp-color: #47B9FF;
$max-temp-color: #FF6047;
$underbar-color: rgba(255, 255, 255, 0.201);
$background-color: #efefef;
$background-color-hover :#d7d7d7;
$background-color-active: #c1c1c1;
$fa-search: rgb(159, 159, 159);
$copyright: rgba(255, 255, 255, 0.639);
$forecast-bar-hover: rgba(255, 255, 255, 0.235);
$nav-color: rgba(255, 255, 255, 0.632);
