@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import "_variables.scss";

/* common */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins";
    color: #fff;
}

a {
    text-decoration: none;
}

body {
    background-size: cover;
}

ul {
    list-style: none;
}

@media screen and (max-width: 767px) {

    /* Container common */
    .container {
        padding: 30px;
        backdrop-filter: brightness(50%);
        height: 100vh;
        width: 100vw;
    }

    /* Search Bar */
    .container--form {
        border-radius: 50px;
        margin: 0px auto  ;
        padding-left: 30px;
        padding-right: 100px;
        position: relative;
        width: 500px;
        background-color: #fff;
        width: 320px;
    }

    .container--input {
        font-size: 1.2rem;
        width: 100%;
        height: 40px;
        border: none;
        outline: none;

        &::placeholder {
            opacity: 50%;
            color: black;
        }

        &:-webkit-autofill {
            box-shadow: 0 0 0 1000px white inset; 
        }

        &::-webkit-calendar-picker-indicator {
            display: none !important;
        }
    }

    .container--button {
        position: absolute;
        top: 0px;
        left: 235px;
        height: 40px;
        border: none;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: $background-color;
        width: 86px;
        transition: 0.2s;

        &:hover {
            background-color: $background-color-hover;
            cursor: pointer;
        }

        &:active {
            background-color: $background-color-active;
        }
    }

    .fa-search {
        font-size: 1.4rem;
        font-family: "Font Awesome 5 Free";
        color: $fa-search;
    }

    /* Container box current */
    .container--box__current {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        
        &__left {
            text-align: center;
        }

        &__right {
            margin-top: 30px;
            display: flex;
        }
    }

    .container--city-name {
        font-size: 3.0rem;
        line-height: 1em;
    }

    .container--today-date {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1em;
        margin-top: 20px;
    }

    .container--temperature {
        
        &__today {
            font-size: 5.0rem;
            font-weight: 300;
            line-height: 1em;
            text-align: center;
            width: 50%;
        }

        &__max-min {
            line-height: 1em;
            margin: auto 0;
            text-align: center;
            width: 50%;
        }

        &__max {
            color: $max-temp-color;
            font-size: 3.0rem;
            font-weight: 300;
            line-height: 1em;
        }

        &__slash {
            font-size: 2.0rem;
            font-weight: 300;
            line-height: 1em;
        }

        &__min {
            color: $min-temp-color;
            font-size: 3.0rem;
            font-weight: 300;
            line-height: 1em;
        }
    }

    /* Container box forecast*/
    .container--box__forecast__bar {
        margin-top: 30px;

        & nav {
            border-bottom: solid 4px $underbar-color;
            width: 100%;

        }

        & ul {
            padding: 0px;
            display: flex;
            justify-content: space-around;

            & li {
                text-align: center;
            }
        }
    }

    .container--nav-item {
        transition: 1s;

        &.inactive {
            margin-bottom: 4px;

            & a {
                font-size: 1.3rem;
                color: $nav-color;

                &:hover {
                    color: #fff;
                }
            }
        }
        
        &.active {
            margin-bottom: 4px;

            & a {
                font-size: 1.3rem;
                color: #fff;
                border-bottom: solid 4px #fff;
                cursor: default;
            }
        }
    }

    .container--box__forecast {
        margin-top: 20px;
        overflow: scroll;
    }

    /* hourly forecast */
    .container--box__hourly {
        display: flex;
        overflow: scroll;
    }

    .container--item__hourly {
        text-align: center;
    }

    .container--time__hourly {
        font-size: 1.3rem;
        font-weight: 300;
    }

    .container--temperature__hourly {
        font-size: 1.5rem;
    }

    .container--img__hourly {
        width: 110px;
    }

    /* daily forecast */
    .container--box__daily {
        display: flex;
    }

    .container--item__daily {
        text-align: center;
    }

    .container--time__daily {
        font-size: 1.3rem;
        font-weight: 300;
    }

    .container--temperature__daily {
        font-size: 1.5rem;
    }

    .container--img__daily {
        width: 110px;
    }

    /* Description */
    .container--box__desc {
        display: flex;
        flex-direction: column;

        &__upper {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 20px;
        }

        &__lower {
            display: flex;
            justify-content: space-evenly;
        }

    }

    .container--item__desc {
        text-align: center;
        width: 33%;
        font-size: 1.3rem;

        &__sub-title {
            font-weight: 300;
        }
    }
}