@media (max-width: 780px) {
    body {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    // .loading {
    //     background-image: ;
    // }
}