@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins";
    color: rgb(74, 74, 74);
}

body {
    background-image: url();
}

.input {
    font-size: 1.5rem;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset;
}

.form {
    text-align: center;
    border: solid 1px rgba(87, 87, 87, 0.687);
    border-radius: 50px;
    margin: 50px 200px;
    padding: 0 60px;
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
}

